html, body{
	font-size:16px;
	color: #eeeded;
	background-color: #063647; 
}

.section-1 {
    background-color: #042834;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23063647' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.section-2 {
    background-color: #052D3D;
}

.section-3 {
    /* background-color: #0E282E; */
    background-color: #042834;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23063647' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.section-4 {
    background-color: #063647;
}

a {
  color: #00bbff;
}

a:hover {
  color: #eeeded;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 1rem;
}

section{
	padding-top: 4rem;
    padding-bottom: 4rem;
}

.section-2 img {
    height: 400px;
}

a.nav-item {
    color: #eeeded;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height:250px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 5rem;
    margin-right: 5rem;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 512px;
	max-width: 256px;
}

.project-text {
    text-align: center;
}

.box {
	background-color: transparent;
	border: 2px solid #176f8f;
}

.title {
	color: #eeeded;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.icon {
    color: #eeeded;
}

.void-background {
	background-color: transparent; 
}

@media screen and (max-width: 900px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
    }
    
    a.nav-item {
        color: #dfdfdf;
    }

}

/* @media screen and (min-width: 768px) {
    .nav-menu {
        display: none;
    }
} */

ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px
}

li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: #042834;
    background: #e4e4ea;
    list-style: none;
    cursor: default;
}

#info {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

/* CONTACT FORM */

.feedback-input {
    color: #eeeded;
    font-weight:500;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #176f8f;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

@media screen and (max-width: 900px) {
    
}
  
.feedback-input:focus {
    border:2px solid #00bbff;
}
  
textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
}
  
[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#176f8f;
    border-radius:5px;
    border:0;
    cursor:pointer;
    font-size: 16px;
    color:#eeeded;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

[type="submit"]:hover {
    background:#00bbff;
}

.orelse {
    text-align: center;
    font-weight: bolder;
}

.othercontact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5rem;
    color: #eeeded;
}

.othercontact img {
    position: relative;
    top: 15px;
}