@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
/* LIGHT MODE */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f1f1f1;
    transition: 0.3s ease-in-out;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 6em;
    color: #212121;
}

ul {
    position: relative;
    display: flex;
}

ul li {
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}

ul li a {
    text-decoration: none;
}

ul li a .fa {
    font-size: 6em;
    color: #21212140;
    background: none;
}

ul li::before {
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 6em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

ul li:nth-child(1)::before {
    content: '\f082';
    color: #4267B2;
    border-bottom: 4px solid #4267B2;
}
ul li:nth-child(2)::before {
    content: '\f16a';
    color: #FF0000;
    border-bottom: 4px solid #FF0000;
}
ul li:nth-child(3)::before {
    content: '\f081';
    color: #1DA1F2;
    border-bottom: 4px solid #1DA1F2;
}

ul li:hover::before {
    height: 100%;
}

/* DARK MODE */

body.dark {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #212121;
    transition: 0.3s ease-in-out;
}

body.dark h1 {
    text-align: center;
    font-size: 6em;
    color: #d8c9c9;
}

body.dark ul li a .fa {
    font-size: 6em;
    color: #d8c9c942;
}

.toggleClass {
    position: absolute;
    top: 30px;
    right: 400px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    border-radius: 50%;
    background: #212121;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.toggleClass::before {
    position: absolute;
    left: 25px;
    content: 'Dark Mode';
    white-space: nowrap;
    font-size: 1em;
}

body.dark .toggleClass {
    background: #d8c9c9;
    color: #d8c9c9;
}

body.dark .toggleClass::before {
    content: 'Light Mode';
}

/* NAVBAR */

#mainbox {
    position: absolute;
    top: 30px;
    left: 400px;
    font-size: 24px;
    cursor: pointer;
    transition: all .6s;
    color: #212121;
}

.sidemenu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: #bbbbbb;
    z-index: 1;
    padding-top: 100px;
    overflow-x: hidden;
    transition: all .5s;
}

.sidemenu a {
    padding: 8px;
    text-decoration: none;
    font-size: 2em;
    color: #212121;
    display: block;
    text-align: center;
    margin: 1em;
}

.sidemenu a:hover {
     color: white;
}

.sidemenu .closebtn {
    position: absolute;
    top: -25px;
    right: 30px;
    font-size: 36px;
    margin-left: 32px;
}

body.dark #mainbox {
    color: #d8c9c9;
}

body.dark .sidemenu {
    background-color: #313131;
}

body.dark a {
    color: #d8c9c9;
}

body.dark a:hover {
    color: #9e9b9b;
}